@charset "utf-8";
@mixin ir {
	background-color:transparent; border:0; overflow:hidden; text-indent:110%;
	&:before {content:""; display:block; width:0; height:150%;}
}


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

#special-sectionOverview {
	font-size: $font-size;
	font-family:"Helvetica", "Arial", "verdana";
	text-decoration: none;

	position: relative;
	min-width:960px;
	a:focus,a:active{
		outline:none;
	}
	@include font-smoothing();
	//
	h2{
		font-size: em($h2-font-size,$font-size);
		margin-bottom:$h2-margin-bottom;
		font-family:"Helvetica", "Arial", "verdana";
		line-height: 1em;
	}
	h3{
		font-size: em($h3-font-size,$font-size);
		margin-bottom:$h3-margin-bottom;
		font-family:"Helvetica", "Arial", "verdana";
		line-height: 1em;
	}

	h4 {
		font-size:em(13px,$font-size);
		color:#828282;
	}

	li {list-style:none; list-style-image: none;}

	p {
		line-height: em($line-height,$font-size);
		font-family:"Helvetica", "Arial", "verdana";
	}
	h1, h2, h3, p {position:relative;}
	h1, h2, h3 {background-repeat:no-repeat; @include ir;}
	h3 {height:30px;}
	.feature {
		position:relative;
		height: 630px;
		overflow:hidden;
	}	
	nav{
		&.arrow{
			width: 100%;
			margin: 0 auto;
			position: absolute;
			bottom: 50%;
		  	height: 38px;
			z-index: 300;
		  	a{
		  		position: absolute;
				width: 38px;
				height: 38px;
				margin-left: -4px;
				float: left;
				background-image: url("../img/common/arrow.png");
				background-position: 0px 0px;
				border-radius: 0px;
				background-color: transparent;
		  		&.prev{
		  			left:50px;
		  			&:hover,&.active{
						background-position: 0px -44px;
					}
		  		}

		  		&.next{
					background-position: -45px 0px;
		  			right: 35px;
		  			&:hover,&.active{
						background-position: -45px -44px;
					}
		  		}
		  	}
		}
		&.pager{
			width: 50%;
			margin: 0 auto;
			position: absolute;
			bottom: 25px;
			left: 0px;
		  	height: 12px;
			z-index: 400;
		  	a{
				width: 12px;
				height: 12px;
				margin-left: 23px;
				float: left;
				background-image: url("../img/common/radius.png");
				background-position: 0px 0px;
				border-radius: 0px;
				background-color: transparent;
				&.first{
					margin-left: 0;
				}

				&:hover,&.active{
						background-position: 0px -12px;
				}
		  	}

		  	&.white
		  	{
		  		a{
		  			background-position: -12px 0px;
			  		&:hover,&.active{
						background-position: -12px -12px;
					}
				}
		  	}
		  }
	}
	.inner {position:relative; width: 960px;z-index:0; display:block; margin:0 auto;  /*background-color:rgba(0,0,0,0.5);*/}
	.inner-content {position:relative; z-index:1;}
	.pic {position:absolute;}
	.note {font-size:em(11px,$font-size);line-height:em(25px,$font-size);}
	
	#custom-wrap {
		position: relative;
		width: 100%;
		.page {
			position: relative;
			margin:0 auto; 
			min-width:960px;
			@include clearfix;
			ul{
				height: 630px;
				position: relative;
				li{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
					display: block;
					overflow:hidden;
					@include custom-opacity(1);
					@include transition-duration(.5s);
					@include transition-timing-function(ease-in-out);
					@include transition-property(left);
					&.active{
						height: 630px;
						left:0;

						@include custom-opacity(1);
						@include transition-duration(.5s);
						@include transition-timing-function(ease-in-out);
						@include transition-property(left);
					}
					&.next{
					height: 630px;
						left:100%;
					}
					&.prev{
					height: 630px;
						left:-100%;
					}
					&.prepare{
						@include transition-duration(0s);
					}
				}
				
				&.bg{
					z-index: 100;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					li{
						height: 630px;
						position: absolute;
						top: 0;
						left: 0;
						@include custom-opacity(0);
						&.first{
							display: block;
							@include custom-opacity(1);
						}
					}
					
				}

				&.content{

					z-index: 200;
				}
			}
		}

		nav.shortcut{
			position: fixed;
			top: 25%;
			left: 0;
			z-index: 5000;
			ul {
				@include clearfix;
				padding:0;
				position: relative;
				left: -1px;
				li {
						cursor:pointer;
						position: relative;
						width: 47px; 
						text-indent: -119988px;
					    overflow: hidden;
					    text-align: left;
					    background-image: url('../img/common/shortcut.png?1371477922');
					    background-repeat: no-repeat;
					    background-position: 50% 50%;
					    background-position: -0px -0px;
					    height: 51px;
					
						span{
							  display: block;
							  position: relative;
							  top: 0;
							  left: -246px;
							  text-indent: -119988px;
							  overflow: hidden;
							  text-align: left;
							  background-image: url('../img/common/shortcut.png?1371477922');
							  background-repeat: no-repeat;
							  background-position: 50% 50%;
							  height: 365px;
							  width: 0px;
							  background-position: -0px -0px;
							  height: 51px;
						}

					&.active{
						&.index { 
							background-position:  -306px -375px; 
						}
						&.beauty { 
							background-position:  -306px -427px; 
						}
						&.sound { 
							background-position:  -306px -479px; 
						}
						&.touch { 
							background-position:  -306px -531px; 
						}
						&.response { 
							background-position:  -306px -583px; 
						}
						&.ubiquity { 
							background-position:  -306px -635px; 
						}
						&.app { 
							background-position:  -306px -687px; 
						}

					}
					&.index { 
						background-position:  -306px 0px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -0px; 
						}
						&:hover{
							span{
								left: -129px;
							}
						}
					}

					&.beauty { 
						background-position:  -306px -52px; 
						height: 52px;
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -52px; 
						}

						&:hover{
							span{
								left: -95px;
							}
						}
					}
					
					&.sound { 
						background-position:  -306px -104px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -104px; 
						}

						&:hover{
							span{
								left: -103px;
							}
						}
					}
					
					&.touch { 
						background-position:  -306px -156px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -156px; 
						}

						&:hover{
							span{
								left: -105px;
							}
						}
					}
					
					&.response { 
						background-position:  -306px -208px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -208px; 
						}

						&:hover{
							span{
								left: -70px;
							}
						}
					}
					
					&.ubiquity { 
						background-position:  -306px -260px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -260px; 
						}

						&:hover{
							span{
								left: -81px;
							}
						}
					}
					
					&.app { 
						background-position:  -306px -312px; 
						height: 51px; 
						overflow:visible;
						position: relative;
						span{
							background-position:  -0px -312px; 
						}

						&:hover{
							span{
								left: -47px;
							}
						}
					}
					
					&:hover{
						width: 180px;
						span{
								width: 246px; 
								@include transition-property(left);
								@include transition-duration(.3s);
								@include transition-timing-function(ease-in-out);
							}
					}
				}
			}
		}
		#index {
			height:500px;
			background:url("../img/index/index-bg.jpg") center 0 no-repeat #49a4eb;
			.inner-content{
				padding-top: 90px;
				padding-left: 30px;
				h1 {margin-bottom:20px; height:52px; background-image:url(../img/index/asus-memo-pad-hd7.png);}
				p {@include grid(4);width: 350px;}
			}

			ul{
				 display: inline;
				position: absolute;
				top: 321px;
				left: 28px;
				li{
					width: 160px;
					height: 130px;
					position: relative;
					overflow: hidden;
					@include float-left();
					margin-right: 20px;
					a{
						display: block;
						position: absolute;
							text-decoration: none;
						img{
							display: block;
						}
						b{
							display: block;
							position: absolute;
							top: 25px;
							left: 60px;
							@include replace-text-with-dimensions("../img/index/play-icon.png");
							@include custom-opacity(.5);
							@include transition-property(opacity);
							@include transition-duration(.3s);
							@include transition-delay(0s);
							@include transition-timing-function(ease-out-in);

						}
						p{
							color:rgb(54, 65, 32);
						}
						&:hover{
							b{
								@include custom-opacity(1);
								@include transition-property(opacity);
								@include transition-duration(.3s);
								@include transition-delay(0s);
								@include transition-timing-function(ease-in-out);
							}
						}
					}

				}
			}
			.body {right:0; top:124px;}
		}
		#beauty {
			color:#afbb01;
			.bg{
				li{
					&.kv{
						background: url("../img/beauty/beauty-bg.jpg") center top no-repeat #fff2c6;
					}
					&.design{
						background: url("../img/beauty/beauty-bg.jpg") center top no-repeat #fff2c6;
					}
					&.display{
						background: url("../img/beauty/beauty-bg.jpg") center top no-repeat #fff2c6;
					}
					&.camera{
						background: url("../img/beauty/camera-bg.jpg") center top no-repeat #f2fdd3;
					}
					&.story-studio{
						background: url("../img/beauty/beauty-bg.jpg") center top no-repeat #fff2c6;
					}/*
					&.studio{
						background: url("../img/beauty/beauty-bg.jpg") center top no-repeat #fff0bc;
					}*/
					&.splendid{
						background: url("../img/beauty/ASUS-splendid-bg.png") center top no-repeat #d3f3ff;
					}
				}
			}
			.content{
				.kv {
					.inner-content{
						padding-top: 140px;
						padding-left: 126px;
						h2 {height:48px; background-image:url(../img/beauty/beauty.png);}
						p {@include grid(4);width:250px;}
					}
					
					img {right:140px; top:95px;}
					}
					.design {
						.inner-content{
							padding-top: 190px;
							padding-left: 650px;
							h3 {background-image:url(../img/beauty/Glossy-Cover-Design.png);}
							p {width:240px;}
						}
						img {left: 90px;top: 0;}
					}
					.display {
						.inner-content{
							padding-top: 126px;
							padding-left: 138px;
							h3 {background-image:url(../img/beauty/HD-IPS-Panel.png);}
							p {@include grid(3);width:230px;}
						}
						.ips {left:250px; top:145px;}
						.ips-compare { left: 713px;top: 442px;}
					}
					.camera {
						.inner-content{
							padding-top: 145px;
							padding-left: 574px;
							h3 {background-image:url(../img/beauty/Camera-for-Every-Occasion.png);}
							p {@include grid(4);width:300px;}
						}
						.pic {left:126px; top:102px; }
					}
					.story-studio {
						.inner-content{
							padding-top: 70px;
							padding-left: 126px;
							.studio{
								position: absolute;
								top: 70px;
								left: 126px;
								p {@include grid(3);width:160px;}
								h3 {background-image:url(../img/beauty/ASUS-Studio.png);}
							}
							.story{
								position: absolute;
								top: 90px;
								left: 543px;
								p {@include grid(3);width:290px;}
								h3 {background-image:url(../img/beauty/ASUS-Story.png);}
							}
						}
						.pic{top:126px; left:236px;}
					}
					.splendid {
						.inner-content{
							padding-top: 180px;
							padding-left: 126px;
							h3 {background-image:url(../img/beauty/ASUS-Splendid.png);}
							p {@include grid(3);width: 280px;}
						}
						.pic {left:388px; top:35px;}
					}
				}
		}
		#sound {
			color:#ebebeb;
			.bg{
				li{
					&.kv{
					background:url(../img/sound/sound-bg.jpg) center no-repeat #05172f;
					}
					&.sonicmaster{
					background:url(../img/sound/sonicmaster-bg.jpg) center no-repeat #04162c;
					}
					&.speakers{
						background:url(../img/sound/speakers-bg.jpg) center no-repeat #213e5e;
					}
				}
			}
			
			.content{
				.kv {
					h2 {height:49px; background-image:url(../img/sound/Sound.png);}
					.inner-content {
						padding-left: 126px;
						padding-top:150px;
						p {@include grid(3);width: 260px;}
					}
					.pic {left:374px; top:0;}
				}
				.sonicmaster {
					.inner-content {
						padding-left: 600px;
						padding-top:233px;
						h3 {background-image:url(../img/sound/ASUS-SonicMaster.png);}
						p {@include grid(3);width: 320px;}
					}
					.pic {left:86px; top:55px;}

				}
				.speakers {
					.inner-content {
						padding-left: 126px;
						padding-top:156px;
						h3 {background-image:url(../img/sound/Dual-Speakers.png);}
						p {@include grid(3.5);width:260px;}
					}
					.pic {left:207px; top:143px;}
				}
			}
		}
		#touch {
			.touch {
				background-color:#fef9fc; color:#ff39a0;
				.inner-content {
					padding-left: 625px;
					padding-top:254px;
					h2 {height:49px; background-image:url(../img/touch/Touch.png);}
					h3 {background-image:url(../img/touch/10-point-Multi-Touch.png);}
					p {width:250px;}
				}
				.pic {left:84px; top:0px;}
			}
		}
		#response {
			.bg{
				li{
					&.kv{
						background:url(../img/response/response-bg.jpg) center no-repeat #04162c; 
					}
					&.cpu{
						background:url(../img/response/cpu-bg.jpg) center no-repeat #14181b;
					}
					&.gps{
						background:#03162c;
					}
				}
			}
			
			.content{
				.kv {
					color:#ebebeb;
					.inner-content {
						padding-left: 637px;
						padding-top:182px;
						h2 {height:49px; background-image:url(../img/response/Response.png);}
						p {@include grid(3);width:320px;}
					}
					.pic {left:-110px; top:120px;}
				}
				.cpu {
					color:#ebebeb;
					.inner-content {
						padding-left: 126px;
						padding-top:134px;
						h3 {background-image:url(../img/response/Quad-Core-CPU.png);}
						p {@include grid(3);width:210px;}
					}
					.pic {left: 250px;top: 235px;}
				}
				.gps {
					color:#ebebeb;
					.inner-content {
						padding-left: 126px;
						padding-top:148px;
						h3 {background-image:url(../img/response/GPS-to-Find-Your-Way.png);}
						p {@include grid(3.5);width:260px;}
					}
					.map {left:300px;top:265px;}
					.clock {left:620px; top:0px;}
				}
			}
		}
		#ubiquity {
			color:#464646;
			.bg{
				li{
					&.kv{
						background:url(../img/ubiquity/ubiquity-bg.jpg) center 0 no-repeat #65d4ff;
					}
					&.battery{
						background:url(../img/ubiquity/battery-bg.jpg) center no-repeat #4e95bf ;
					}
					&.sd-slot{
						background:url(../img/ubiquity/sd-slot-bg.jpg) center no-repeat #66d4ff;
					}
					&.thin{
						background:url(../img/ubiquity/thin-bg.png) center no-repeat #65d4ff;
					}
					&.webstorage{
						background:#66d4ff;
					}
				}
			}

			.content{
				.kv {
					.inner-content {
						padding-left: 575px;
						padding-top:182px;
						h2 {height:58px; background-image:url(../img/ubiquity/Ubiquity.png);}
						p {@include grid(4);width:300px;}
					}
					.pic {left:40px; top:60px;}
				}
				.battery {
					.inner-content {
						padding-left: 575px;
						padding-top:175px;
						h3 {height:56px; background-image:url(../img/ubiquity/Long-Battery-Life--at-10-Hours.png);}
						p {@include grid(3);width:246px;}
					}
					.pic {left:55px; top:27px;}
				}
				.sd-slot {
					.inner-content {
						padding-left: 126px;
						padding-top:95px;
						h3 {height: 58px;background-image:url(../img/ubiquity/Micro-SD-Slot-for-up-to-32G-Expendability.png);}
						p {@include grid(3);width:260px;}
						.note {margin-top: 212px;text-indent:-0.5em; @include grid(3.5);}
					}
					.pic {left:260px; top:77px; }
				}
				.thin {
					.inner-content {
						padding-left: 500px;
						padding-top:170px;
						h3 {background-image:url(../img/ubiquity/Super-Light-and-Thin.png);}
						p {@include grid(3.5);}
					}
					.pic {left:80px; top:90px;}

				}
				.webstorage {
					.inner-content {
						padding-left: 126px;
						padding-top:105px;
						h3 {background-image:url(../img/ubiquity/ASUS-Webstorage.png);}
						p {@include grid(3);width:230px;}
					}
					.pic {left:230px; top:17px;}
				}
			}
		}
		/*
		#app {
			color:#ff39a0;
			background:url(../img/app/bg.png) center top no-repeat #f5ffb0;
			h2 {height:44px; background-image:url(../img/app/Applications.png);}
			height: 1210px;
			.content{
				.feature{
					height: 641px;
				}
				.supernote {
					.inner-content {
						padding-left: 623px;
						padding-top:170px;
						h2 {width:356px;}
						h3 {background-image:url(../img/app/supernote.png);}
						p {@include grid(3);width:260px;}
					}
					.pic {left:36px; top:50px;}

				}
				.buddybuzz {
					.inner-content {
						padding-left: 112px;
						padding-top:131px;
						h3 {background-image:url(../img/app/buddybuzz.png);}
						p {@include grid(3);}
					}
					.pic {left:247px; top:0px;}
				}
			}
		}*/
		
		#app {
			color:#ff39a0;
			h2 {height:44px; background-image:url(../img/app/Applications.png);}
			.bg{
				li{
					&.kv{
						background:url(../img/app/supernote-bg.jpg) center no-repeat #edff73;
					}
					&.buddybuzz{
						background:#f5ffb0;
					}
				}
			}
			.content{
				.supernote {
					.inner-content {
						padding-left: 112px;
						padding-top:131px;
						h2 {width:356px;}
						h3 {background-image:url(../img/app/supernote.png);}
						p {@include grid(3);width:260px;}
					}
					.pic {left:392px; top:232px;}

				}
				.buddybuzz {
					.inner-content {
						padding-left: 112px;
						padding-top:131px;
						h3 {background-image:url(../img/app/buddybuzz.png);}
						p {@include grid(3);}
					}
					.pic {left:247px; top:84px;}
				}
			}
		}
		#spec {
			background:url(../img/spec/bg.jpg) center top no-repeat #fff;
			.content{
				h2{
					@include replace-text-with-dimensions("../img/spec/title.png");
					margin:0 auto;
					margin-top: 93px;
				}
				img{
					display: block;
					position: absolute;
					right: -120px;
					top: 0;
				}
				.table{
					position: relative;
					width: 573px;
					margin:0 auto;
					margin-top: 52px;
					.row{
						width: 573px;
						display: inline;
						float: left;
						margin-left: 0px;
						margin-right: 0px;
						background: url("../img/spec/border.png") 0 top repeat-x;
						margin-bottom: 20px;
						padding-top: 20px;
						&.first{
							background:none;
						}
						div{
							@include float-left();
							font-size:16px;
							width: 352px;
							color:#5d5d5d;
							&.label{
								width: 186px;
								text-align:right;
								font-size:17px;
								margin-right: 35px;
								color:#363636;
							}
						}
					}
				}
				.note{
					background: url("../img/spec/border.png") 0 top repeat-x;
					font-size:em(12px,$font-size);
					vertical-align:top;
					padding-top: 20px;
					.star{
						text-align:left;
						padding-right:10px;
						padding-left: 10px;
						vertical-align:top;
					}
					td{
						height: 25px;
					}
					padding-bottom: 50px;
				}


			}
		}
	}
	#canvas{
		left: -94px;
		position: absolute;
		top: 86px;
	}
}

.ie8{
	#ubiquity .thin,
	.sonicmaster{
		overflow:hidden;
	}
	#special-sectionOverview #loading-animate{
		.white{
			margin-left:0;
		}
	}
}